# General
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
.build/
build/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Dart
.dart_tool/

# Build files
/android/app/build/
/ios/build/
/ios/Pods/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework

# Sensitive files
*.keystore
*.jks
key.properties
